<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="template.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:200,400"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="top">
      <h1>Template <span>Click to open in editor</span></h1>
    </div>
    <div class="container">
      <div class="contain">
        <div class="t1">
         <div class="tile temp1"></div>
          <a href="template1.txt"><h1>TEMPLATE 1</h1></a>
        </div>
        <div class="t2">
          <div class="tile temp2" onclick="openModal()"></div>
          <a href="template2.txt"><h1>TEMPLATE 2</h1></a>
        </div>
        <div class="t3">
          <div class="tile temp3" onclick="openModal()"></div>
          <a href="template3.txt"><h1>TEMPLATE 3</h1></a>
        </div>
        <div class="t4">
          <div class="tile temp4" onclick="openModal()"></div>
          <a href="template4.txt"><h1>TEMPLATE 4</h1></a>
        </div>
      </div>
    </div>
  </body>
</html>
